version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env
    environment:
      - PORT=3001
    networks:
      - app-network

  frontend:
    build: ./FE/vite-project
    ports:
      - "3000:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
