
.container-contact {
   background: linear-gradient(135deg, rgba(102, 126, 234, 0.8) 0%, rgba(118, 75, 162, 0.8) 100%),
    url('../images/computerscience-scaled.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}
.contact-header {
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 80px;
    margin-top: 0;
}

.contact-header h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.contact-header p {
    font-size: 18px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
}
.contact-form{
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(59, 130, 246, 0.2) !important;
    border-radius: 16px !important;
    padding: 30px !important;
    box-shadow: 0 8px 32px rgba(59, 130, 246, 0.1) !important;
}
.contact-info{
    display: flex  ;
    flex-direction: column;
}
.contact-info h3{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
   margin: 0 0 10px 0;

}   
.contact-info p{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    align-items: start;
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(59, 130, 246, 0.2) !important;
    border-radius: 16px !important;
    padding: 5px !important;
    box-shadow: 0 8px 32px rgba(59, 130, 246, 0.1) !important
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 24px;
}
.contact-form-input{
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(59, 130, 246, 0.2) !important;
    border-radius: 16px !important;
    padding: 10px !important;
    box-shadow: 0 8px 32px rgba(59, 130, 246, 0.1) !important;
    margin-bottom: 15px;
    width: 70%;
}
.contact-form-input input, .contact-form-input textarea{
    width: 50%;
    border: none;
    background: transparent;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    outline: none;
}