.navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;  
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    width: 100%;
    box-sizing: border-box;
    height: 15%;
}

.nav-logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}

.nav-menu a {
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    color: #060000;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-menu a:hover {
    color: #1e00ff;
    text-decoration: underline;
}

.nav-action {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-login {
    padding: 8px 20px;
    border: 2px solid #333;
    background-color: transparent;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: #333;
    color: white;
}

.btn-signup {
    padding: 8px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.btn-signup:hover {
    background-color: #555;
}